.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    max-width: 400px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .dropdown select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .dropdown select:focus {
    outline: none;
  }
  
  .dropdown option:first-child {
    color: gray;
  }

  .form-control, #ageRange {
    width: 100%;
  }
  .dropdown {
    margin-bottom: 1rem; /* Adjust the margin as needed */
  }
  .error-tooltip {
    position: relative;
}

.error-tooltip::after {
    content: "\u26A0";
    color: red;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: none;
}

.text-danger {
  color: red !important;
}